.game__cards {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
}

.card {
    padding: 15px;
    max-width: 152px;
    width: 100%;
    aspect-ratio: 1 / 1.5;
    perspective: 1000px;
}

.card.active .card__wrapper {
    transform: rotateY(180deg);
}

.card__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.card__shirt,
.card__front {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: var(--card-bg);
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid var(--light-green);
}

.card__shirt {
    transform: rotateY(180deg);
}

.card__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__img-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.popup .active {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.5s;
}

.popup__wrapper {
    position: absolute;
    top: 25%;
    left: 25%;
    min-width: 400px;
}

.popup__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 40px;
    background-color: var(--green);
    border-radius: 10px;
    max-width: 400px;
    min-height: 370px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

}

.popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup__figure {
    margin: 0;
    width: 90px;
    height: 90px;
    margin: auto;
    margin-bottom: 30px;
}

.popup__img-heart {
    margin-right: 100px;
}

.popup__text {
    text-align: center;
    margin: 0;
    white-space: pre-line;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    display: block;
}

.popup__content {
    position: relative;
}

.popup__content::before {
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    background-image: url(../static/img/svg/010-heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 130px;
    bottom: 70px;
}

.popup__content::after {
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    background-image: url(../static/img/svg/011-balloon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 130px;
    bottom: 70px;
}

.popup__heading {
    text-transform: uppercase;
    text-align: center;
    color: var(--light-pink);
    font-size: 35px;
    font-family: Pribambas;
    font-weight: 400;
    letter-spacing: 8.05px;
    margin: 0;
}