@import 'game.css';

:root {
    --light-green: #B8E3C5;
    --green: #9AD0A9;
    --light-pink: #F8627F;
    --pink: #F45276;
    --card-bg: #FFF6F6;
}

@import url(normalize.css);

@font-face {
    font-family: Montserrat;
    src: local(Montserrat-Regulard), url(../fonts/Montserrat-Regular.woff2) format("woff2");
    src: url(../fonts/Montserrat-Regular.woff) format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Pribambas;
    src: local(Pribambas-Regular), url(../fonts/Pribambas-Regular.woff2) format("woff2");
    src: url(../fonts/Pribambas-Regular.woff) format("woff");
    font-weight: 400;
    font-display: swap;
}

html {
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body {
    background-color: var(--card-bg);
    color: var(--card-bg);
    font-family: Montserrat, sans-serif;
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
}

.info {
    margin-bottom: 50px;
}

.info__heading {
    text-align: center;
    color: var(--light-pink);
    font-size: 35px;
    font-family: Pribambas;
    letter-spacing: 23px;
}

.info__par {
    text-align: center;
    color: var(--light-pink);
}

.form {
    background-color: var(--green);
    border-radius: 10px;
    padding: 40px 40px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.form__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__legend {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.form__label {
    margin-bottom: 20px;
}

.form__input {
    display: block;
    background-color: var(--light-green);
    border-radius: 10px;
    width: 220px;
    height: 35px;
    border: none;
    color: var(--pink);
}

.form__btn {
    background-color: var(--light-pink);
    color: var(--card-bg);
    border: none;
    outline: 1px solid var(--card-bg);
    border-radius: 10px;
    width: 160px;
    height: 40px;
    text-align: center;
}

.form__text {
    text-align: center;
}

.form__input:hover {
    background-color: var(--card-bg);
    color: var(--green);
    transition: background-color 0.2s ease, color 0.3s ease;
}

.form__input:active {
    background-color: var(--card-bg);
    transition: background-color 0.2s ease;
}

.form__input:focus {
    outline-color: var(--card-bg);
    transition: outline-color 0.2s ease;
}

.form__btn:hover {
    background-color: var(--pink);
    color: #fff;
    transition: background-color 0.2s ease, color 0.3s ease;
}

.form__btn:active {
    outline-color: #fff;
    transition: outline-color 0.2s ease;
}

.form__btn:focus {
    outline-width: 2px;
    outline-color: #fff;
    transition: outline-color 0.2s ease, outline-width 0.2s ease;
}
/* .wrapper {
    max-width: 1440px;
    margin: 0 auto;
} */