<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Game</title>
</head>

<body>
    <header class="header">

    </header>

    <main>

        <section class="game">
            <div class="wrapper">
                <div class="game__cards">
                    <div class="card">
                        <div class="card__shirt">
                            <div class="card__img">
                                <img src="../img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                            </div>
                        </div>
                        <div class="card__front">
                            <div class="card__img">
                                <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__shirt">
                            <div class="card__img">
                                <img src="../img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                            </div>
                        </div>
                        <div class="card__front">
                            <div class="card__img">
                                <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__shirt">
                            <div class="card__img">
                                <img src="../img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                            </div>
                        </div>
                        <div class="card__front">
                            <div class="card__img">
                                <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__shirt">
                            <div class="card__img">
                                <img src="../img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                            </div>
                        </div>
                        <div class="card__front">
                            <div class="card__img">
                                <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__shirt">
                            <div class="card__img">
                                <img src="../img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                            </div>
                        </div>
                        <div class="card__front">
                            <div class="card__img">
                                <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__shirt">
                            <div class="card__img">
                                <img src="../img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                            </div>
                        </div>
                        <div class="card__front">
                            <div class="card__img">
                                <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__shirt">
                            <div class="card__img">
                                <img src="../img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                            </div>
                        </div>
                        <div class="card__front">
                            <div class="card__img">
                                <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__shirt">
                            <div class="card__img">
                                <img src="../img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                            </div>
                        </div>
                        <div class="card__front">
                            <div class="card__img">
                                <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__shirt">
                            <div class="card__img">
                                <img src="../img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                            </div>
                        </div>
                        <div class="card__front">
                            <div class="card__img">
                                <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__shirt">
                            <div class="card__img">
                                <img src="../img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                            </div>
                        </div>
                        <div class="card__front">
                            <div class="card__img">
                                <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__shirt">
                            <div class="card__img">
                                <img src="../img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                            </div>
                        </div>
                        <div class="card__front">
                            <div class="card__img">
                                <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__shirt">
                            <div class="card__img">
                                <img src="../img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                            </div>
                        </div>
                        <div class="card__front">
                            <div class="card__img">
                                <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>

    </footer>

</body>

</html>