<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/game.css">
    <title>Memory Game</title>

    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/favicon/site.webmanifest">
    <link rel="mask-icon" href="static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <header class="header">

    </header>

    <main>

        <section class="game">
            <div class="wrapper">
                <div class="game__cards">
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="/static/img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="/static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="/static/img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="/static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="static/img/003-bear.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="/static/img/003-bear.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="/static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="/static/img/006-chamaeleon.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="/static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="/static/img/006-chamaeleon.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="/static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="/static/img/012-bird.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="/static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="/static/img/012-bird.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="/static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="/static/img/008-elephant.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="/static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="/static/img/008-elephant.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="/static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="/static/img/009-hedgehog.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="/static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="/static/img/009-hedgehog.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="/static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="/static/img/010-seal.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="/static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="/static/img/010-seal.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="/static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="/static/img/011-lion.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="/static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="/static/img/011-lion.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="/static/img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <div class="popup">
            <div class="popup__wrapper">
                <div class="popup__wrap">
                    <button class="popup__close">
                        <svg width="50" height="50" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.6066 21.3934C22.2161 21.0029 21.5829 21.0029 21.1924 21.3934C20.8019 21.7839 20.8019 22.4171 21.1924 22.8076L22.6066 21.3934ZM40.9914 42.6066C41.3819 42.9971 42.0151 42.9971 42.4056 42.6066C42.7961 42.2161 42.7961 41.5829 42.4056 41.1924L40.9914 42.6066ZM21.1924 41.1924C20.8019 41.5829 20.8019 42.2161 21.1924 42.6066C21.5829 42.9971 22.2161 42.9971 22.6066 42.6066L21.1924 41.1924ZM42.4056 22.8076C42.7961 22.4171 42.7961 21.7839 42.4056 21.3934C42.0151 21.0029 41.3819 21.0029 40.9914 21.3934L42.4056 22.8076ZM21.1924 22.8076L40.9914 42.6066L42.4056 41.1924L22.6066 21.3934L21.1924 22.8076ZM22.6066 42.6066L42.4056 22.8076L40.9914 21.3934L21.1924 41.1924L22.6066 42.6066Z" fill="grey"/>
                        </svg>
                    </button>
                    <div class="popup__content">
                        <figure class="popup__figure">
                            <img 
                                src="../static/img/svg/004-inlove.svg" 
                                alt="" class="popup__img" 
                            >
                        </figure>
                        <p class="popup__text">Ваше
                            количество
                            ходов <span id="move"></span>!
                        </p>
                        <h3 class="popup__heading">Победа!</h3>

                        <button class="popup__btn">
                            начать заново
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <footer>

    </footer>


    <script src="/static/js/script.js"></script>
</body>

</html>