<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "/static/normalize.css">
    <link rel= "stylesheet" type= "text/css" href= "/static/main.css">
    <title>Memory Game</title>
</head>

<body>
    <header class="header">

    </header>

    <main>

        <section class="game">
            <div class="wrapper">
                <div class="game__cards">
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/001-snake.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/003-bear.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/003-bear.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/006-chamaeleon.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/006-chamaeleon.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/012-bird.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/012-bird.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/008-elephant.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/008-elephant.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/009-hedgehog.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/009-hedgehog.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/010-seal.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/010-seal.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/011-lion.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__wrapper">
                            <div class="card__shirt">
                                <div class="card__img">
                                    <img src="../img/011-lion.svg" alt="Рубашка карты" class="card__img-img">
                                </div>
                            </div>
                            <div class="card__front">
                                <div class="card__img">
                                    <img src="../img/shirt.svg" alt="Лицевая сторона карты" class="card__img-img">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>

    <footer>

    </footer>


    <script src="../js/script.js"></script>
</body>

</html>