<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>Memory Game</title>

    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

    <main class="container">
        <div class="container__wrapper">
            <div class="info">
                <h1 class="info__heading">Мемори</h1>
                <p class="info__par">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>

            <form action="" method="post" class="form">
                <fieldset class="form__fieldset">
                    <legend class="form__legend">
                        Авторизация
                    </legend>

                    <label for="login" class="form__label">
                        Введите логин
                        <input class="form__input" type="text" name="login" id="login">
                    </label>

                    <label for="password" class="form__label">
                        Введите пароль
                        <input class="form__input" type="password" name="password" id="password">
                    </label>

                    <button type="submit" class="form__btn">
                        Создать аккаунт
                    </button>

                    <p class="form__text">Уже есть аккаунт?</p>

                    <button type="submit" class="form__btn">
                        Войти
                    </button>
                </fieldset>
            </form>
        </div>
    </main>

    <footer>

    </footer>

</body>

</html>